.tutorial {
    &_header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 5%;
        &--title {
            display: flex;
            align-items: center;
        }
    }
    &_cards {
        display: flex;
        justify-content: flex-start;
        gap: 6%;
        margin: 4rem 0;
    }
    &_img {
        width: 40px;
    }
    &_table {
        &--id {
            // background: #30B3AB;
            background: rgb(48, 179, 171);
            background: radial-gradient(circle, rgba(48, 179, 171, 1) 0%, rgb(255, 255, 255) 100%);
            border-radius: 4px;
            text-align: center;
            padding: 0px !important;
        }
    }
    thead {
        border-bottom: 2px solid #E6ECEF;
        .tutorial-th--estudiantes {
            font-size: 18px;
            width: 200px;
            height: 30px;
            &:nth-child(1) {
                width: 300px;
            }
        }
        .tutorial-th--docentes {
            font-size: 18px;
            width: 200px;
            height: 30px;
            &:nth-child(1) {
                width: 350px;
            }
        }
        .tutorial-th--bienestar {
            font-size: 18px;
            width: 180px;
            height: 30px;
            &:nth-child(1) {
                width: 250px;
            }
            &:nth-child(3) {
                width: 350px;
            }
        }
    }
    tbody {
        td {
            text-transform: capitalize;
            font-size: 18px;
            box-sizing: border-box;
            padding: 15px 10px 15px 0px;
            height: 40px;
        }
    }
}