@import '../../assets/sass/custom';
.legal-container {
    padding: 4% 10%;
    h1 {
        font-family: Ancizar Bold;
        border-bottom: 1px solid black;
        margin: 0 0 40px 0;
        color: $primary-color;
    }
    p {
        font-size: 1.3rem;
        font-family: Ancizar Sans, Arial, Arial;
    }
}